$font-size: 1em;
$font-variant: small-caps;
$font-spacing: 0.05em;
$font-stack: 'Roboto', sans-serif;
$btn-font: 'Roboto', 'sans-serif';
$background-color: #f7fbfc;
$border-color: #769fcd;
$text-color: #2d4263;

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: $font-stack;
  background-color: $background-color !important;
}

.container {
  max-width: 50% !important;

  h1,
  h4 {
    color: $text-color;
    font-variant: $font-variant;
    text-align: center;
  }

  //Rental Form

  .form-container {
    height: 100%;
    width: 100%;
    margin: 2%;
    padding: 2% 1%;
    border: 4px solid $border-color;
    border-radius: 5px;

    .field {
      margin-block: 0.5rem;
      padding-block: 0.5rem;
      padding-inline-end: 0.2rem;
    }
    ::placeholder {
      font-size: $font-stack;
      font-variant: $font-variant;
      letter-spacing: $font-spacing;
      color: $text-color;
    }
  }

  .invalid-feedback {
    padding-inline-start: 0.2rem;
  }

  .btn {
    font-variant: $font-variant;
    font-family: $font-stack;
    margin-top: 0.4rem;
  }
}

//car specs

.car-specs {
  text-align: center;

  h3,
  p {
    font-variant: $font-variant;
    color: $text-color;
  }

  .price {
    font-weight: 500;
    font-size: 1.2rem;
  }
}
